body {
  @media (prefers-color-scheme: dark) {
    color: white;
    background-color: #1e1e19;
  }
  font-family: sans-serif;
  margin: auto;
}

nav {
  @media (prefers-color-scheme: dark) {
    background-color: #111111;
  }
  background-color: #313236;
  width: 14rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  color: #aaa;
  font-size: 15px;
  list-style: none;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

nav ul li:hover {
  @media (prefers-color-scheme: dark) {
    color: white;
  }
  cursor: pointer;
}

main {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-size: xxx-large;
  text-align: center;
}

.link {
  cursor: pointer;
  font-weight: bold;
}
