<article>
  <header><h1>Changelog</h1></header>

  <section>
    <h2>26/05/2024</h2>
    <p>Created the base site and added the <span class="link" hx-get="articles/home.html" hx-target="main" hx-push-url="/index.html">home page</span> and changelog.</p>
  </section>
</article>
