<article>
  <header>
    <h1>Home</h1>
  </header>

  <section>
    <h2>Welcome</h2>
    <p>Welcome to my personal site!</p>
  </section>

  <section>
    <h2>What to expect</h2>
    <p>This personal site is still very new, but I want to use it as a page to write articles about programming languages, mostly.</p>
    <p>I personally think that there are many areas of computer science that are overlooked, especially by people without an academic background in computer science. As a result, there is a lot of misunderstanding and misinformation, and my goal starting this blog is to address some of it.</p>
  </section>

  <section>
    <h2>How often will it be updated</h2>
    <p>Probably not very regularly, but I’ll try to write an article every other week. I’ve added a <span hx-get="articles/changelog.html" hx-target="main" hx-push-url="/changelog.html" class="link">Changelog page</span> to help track the changes, and see if there is new content.</p>
  </section>
</article>
